:ruby
  remote ||= false
  disable_with_text = t('helpers.submit.saving', model: @credential.model_name.human)
= bootstrap_form_for @credential, remote: remote do |f|
  = f.alert_message 'Errors in saving', error_summary: !remote
  = f.text_field :username
  = f.text_field :host, placeholder: I18n.t('activerecord.values.credential.host.blank')
  = f.text_field :tag_list,
                 value: @credential.tag_list.to_s,
                 class: :tokenize,
                 icon: 'tags',
                 help: t('helpers.tag_list_help_html')

  = f.text_area :public_key, data: { source: key_info_credentials_path(format: :json) }, rows: 5
  = key_info @credential.public_key

  .actions{ class: ('modal-footer' if remote) }
    - if remote
      .spinner.hidden
    = f.button data: { disable_with: disable_with_text }, class: 'btn btn-primary'
    - if remote
      %button.btn.btn-default{ type: :button, data: { dismiss: :modal, empty: :modal } } Cancel
    - else
      \|
      = link_to 'Cancel', :back, class: 'btn btn-default'
