:ruby
  remote ||= false
  button_label = t :'helpers.submit.update', model: t(:credential_with_count, count: @credentials.count)
  disable_with_text = t :'helpers.submit.saving', model: t(:credential_with_count, count: @credentials.count)
= bootstrap_form_for @credential, url: update_multiple_credentials_path, method: :put, remote: remote do |f|
  = f.alert_message 'Errors in updating', error_summary: !remote
  .list-group
    .list-group-item.active
      %h4.list-group-item-heading= Credential.human_attribute_name :host, count: @credentials.count
    - @credentials.each do |credential|
      .list-group-item{ class: "list-group-item-#{credential_status_class(credential)}" }
        = credential_status_label(credential)
        = credential.logon
        = hidden_field_tag 'ids[]', credential.id

  = f.text_area :public_key, data: { source: key_info_credentials_path(format: :json) }, rows: 5
  = key_info @credential.public_key

  .actions{ class: ('modal-footer' if remote) }
    - if remote
      .spinner.hidden
    = f.button button_label, data: { disable_with: disable_with_text }, class: 'btn btn-primary'
    - if remote
      %button.btn.btn-default{ type: :button, data: { dismiss: :modal } } Cancel
    - else
      \|
      = link_to 'Cancel', :back, class: 'btn btn-default'
