- grouped_by_status = current_user.credentials.group_by(&:status)
.col-lg-4.col-md-4.col-sm-4.col-xs-12
  %h5.text-muted= current_user.model_name.human
  %p.h3= current_user.full_name
.col-lg-2.col-md-2.col-sm-2.col-xs-3
  %h5.text-muted Total
  %p.h3
    %span.label.label-default= current_user.credentials.count
- [%w(Valid success), %w(Expiring warning), %w(Expired danger)].each do |status, label_class|
  .col-lg-2.col-md-2.col-sm-2.col-xs-3
    %h5.text-muted= status
    %p.h3
      %span.label{ class: "label-#{label_class}" }= grouped_by_status.fetch(status, []).count
