:ruby
  model_name = @credentials.model_name.human
  create_title   = t :'helpers.submit.credential.create', model: model_name, default: :'helpers.submit.create'
  update_title   = t :'helpers.submit.credential.update', model: model_name, default: :'helpers.submit.update'
  multiple_title = update_title.pluralize
  table_css_data = { datatable_dom: 'frt', source: credentials_path(:datatable), resourcename: model_name }

.row#status-area= render 'status_area'

= form_tag edit_multiple_credentials_path, remote: true do
  %table.table.table-hover#credential-table{ width: '100%', data: table_css_data }
    %thead
      %tr
        %th{ data: { orderable: 'false' } }
          = button_tag bs_icon_and_text('unchecked', t(:'helpers.labels.all')),
                       class: 'btn btn-default',
                       id: 'toggle-checkboxes',
                       type: :button,
                       data: { context: '#credential-table tbody', state: false }
        %th= Credential.human_attribute_name :status
        %th= Credential.human_attribute_name :expires
        %th= Credential.human_attribute_name :username
        %th= Credential.human_attribute_name :host
        %th{ data: { orderable: 'false' } }= Credential.human_attribute_name :tag_list
        %th{ data: { orderable: 'false' } }= t :'helpers.labels.actions'
        %th.never= Credential.human_attribute_name :public_key
    %tbody

  %hr

  #toolbar{ data: { spy: 'affix', offset_bottom: 90 } }
    = link_to bs_icon_and_text('upload', create_title),
              new_credential_path,
              class: 'btn btn-primary pull-right',
              data: { toggle: :modal, target: '#create-form-modal' },
              remote: true

    %span#multiple-count 0
    %span<
      %span>= model_name
      %span#multiple-plural s
      selected
    = button_tag bs_icon_and_text('edit', t('helpers.submit.update', model: 'Public key')),
      class: 'btn btn-default disabled update-multiple',
      data: { toggle: :modal, target: '#multiple-form-modal' }
    \|
    = button_tag bs_icon_and_text('trash', t(:'helpers.links.destroy', default: 'Destroy')),
      class: 'btn btn-danger disabled update-multiple',
      id: 'multiple-delete',
      name: :delete,
      data: { confirm: 'Are you sure?' }

= render layout: 'modal', locals: { id: 'create-form-modal', title: create_title, footer: false } do
  .spinner.center-block
= render layout: 'modal', locals: { id: 'update-form-modal', title: update_title, footer: false } do
  .spinner.center-block
= render layout: 'modal', locals: { id: 'multiple-form-modal', title: multiple_title, footer: false } do
  .spinner.center-block
