= field_with_value 'User', mail_to_user(@credential.user)
= field_with_value 'Host', @credential.host
= field_with_value 'Public Key', @credential.public_key
= field_with_value 'Created', @credential.created_at
= field_with_value 'Updated', @credential.updated_at

%hr
.row
  .col-md-offset-2
    = link_to bs_icon_and_text('pencil', 'Edit'), edit_credential_path(@credential), class: 'btn btn-success'
    \|
    = link_to 'List All Credentials', credentials_path, class: 'btn btn-default'
